<html>
    <head>
        <title>神器</title>
    </head>
    <body>
        <p>歡迎老司機</p>
    <form>
<input type="button" value="165310" onclick="window.open('https://nhentai.net/g/165310/')" />
<input type="button" value="177978" onclick="window.open('https://nhentai.net/g/177978/')" />
<input type="button" value="211759" onclick="window.open('https://nhentai.net/g/211759/')" />
<input type="button" value="212643" onclick="window.open('https://nhentai.net/g/212643/')" />
<input type="button" value="229540" onclick="window.open('https://nhentai.net/g/229540/')" />
<br>
<input type="button" value="250029" onclick="window.open('https://nhentai.net/g/250029/')" />
<input type="button" value="211519" onclick="window.open('https://nhentai.net/g/211519/')" />
<input type="button" value="256097" onclick="window.open('https://nhentai.net/g/256097/')" />
<input type="button" value="163478" onclick="window.open('https://nhentai.net/g/163478/')" />
<input type="button" value="91505" onclick="window.open('https://nhentai.net/g/91505/')" />
<br>
<input type="button" value="79280" onclick="window.open('https://nhentai.net/g/79280/')" />
<input type="button" value="260629" onclick="window.open('https://nhentai.net/g/260629/')" />
<input type="button" value="128051" onclick="window.open('https://nhentai.net/g/128051/')" />
<input type="button" value="121972" onclick="window.open('https://nhentai.net/g/121972/')" />
<input type="button" value="261633" onclick="window.open('https://nhentai.net/g/261633/')" />
<br>
<input type="button" value="172044" onclick="window.open('https://nhentai.net/g/172044/')" />
<input type="button" value="119055" onclick="window.open('https://nhentai.net/g/119055/')" />
<input type="button" value="208323" onclick="window.open('https://nhentai.net/g/208323/')" />
<input type="button" value="149942" onclick="window.open('https://nhentai.net/g/149942/')" />
<input type="button" value="161236" onclick="window.open('https://nhentai.net/g/161236/')" />
<br>
<input type="button" value="177150" onclick="window.open('https://nhentai.net/g/177150/')" />
<input type="button" value="233766" onclick="window.open('https://nhentai.net/g/233766/')" />
<input type="button" value="97949" onclick="window.open('https://nhentai.net/g/97949/')" />
<input type="button" value="230107" onclick="window.open('https://nhentai.net/g/230107/')" />
<input type="button" value="175822" onclick="window.open('https://nhentai.net/g/175822/')" />
<br>
<input type="button" value="213545" onclick="window.open('https://nhentai.net/g/213545/')" />
<input type="button" value="232837" onclick="window.open('https://nhentai.net/g/232837/')" />
<input type="button" value="179166" onclick="window.open('https://nhentai.net/g/179166/')" />
<input type="button" value="138603" onclick="window.open('https://nhentai.net/g/138603/')" />
<input type="button" value="130183" onclick="window.open('https://nhentai.net/g/130183/')" />
<br>
<input type="button" value="173543" onclick="window.open('https://nhentai.net/g/173543/')" />
<input type="button" value="234652" onclick="window.open('https://nhentai.net/g/234652/')" />
<input type="button" value="268015" onclick="window.open('https://nhentai.net/g/268015/')" />
<input type="button" value="228293" onclick="window.open('https://nhentai.net/g/228293/')" />
<input type="button" value="268893" onclick="window.open('https://nhentai.net/g/268893/')" />
<input type="button" value="239536" onclick="window.open('https://nhentai.net/g/239536/')" />
<br>
    </form>
    </body>
</html>